

.slide-up-div{
    position: fixed;
    bottom: 0;

    width: 100%;
    margin: auto;
    text-align: center;
    animation: slideup 1s ease-out forwards;
    transform: translateY(100%);
}

@keyframes slideup {

    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(-10px);
        opacity: 1;
    }
    
}
