.address{
    width: 750px;
}
.review{
    width: 750px;
}
.subprice{
    width: 45%;
}
.payment{
    width: 750px;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
}
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #f3f3f3;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

.comimg{
    position: absolute;
    top: 0;
    z-index: 1;
}

    .payment-options {
        display: flex;
        gap: 20px;
      }
      
      .option {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        border: 2px solid #ccc;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s ease;
      }
      
      .option.selected {
        border-color: #007bff;
        background-color: #f0f8ff;
      }
      
      .option input {
        cursor: pointer;
      }
      .pricedet{
        display: flex;
        justify-content: space-between; 
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

    }
@media screen and (min-width:310px) and (max-width:767px){
    .address{
        width: 95%;
    }
    .review{
        width: 95%;
    }
    .subprice{
        width: 100%;
        
    }
    .payment{
        width: 95%;
    }
    .pricedet{
        display: flex;
        flex-direction: column;
    }
    
}