
/* .product button{
    position: absolute;
    bottom: -50px;
    left: 0;
    display: none;
    width: 100%;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: bottom 0.6s ease-in-out;
}
.product:hover button{
    display: block;
    bottom: 130px;
} */
.ptittle{
    width: 100%;
     display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.product1:hover{
    cursor: pointer;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1),
                10px 10px 20px rgba(0, 0, 0, 0.1);
}

.proimg{
    position: relative;
}

.mP{
    margin-top: 10px;
}
.wishicon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 8;
}
.offer2{
    display: none;
}

@media screen and (min-width:310px) and (max-width:767px){



.proimg {
  margin: auto;
  width: 100%;
  max-width: 200px;
  max-height: 280px;
}
.product{
    margin-top: 10px;
}
.mP{
    margin-top: 60px;
}
.wishicon {
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
  }
  .offer{
    display: none;
  }
  .offer2{
    position: absolute;
    bottom: 8px;
    left: 8px;
  }


}